* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;
}

h1,
h2,
legend {
  text-align: center;
}

fieldset {
  margin-top: 20px;
}

ul {
  margin: 0;
}

.btn {
  margin-left: 10px;
  cursor: pointer;
  /* height: 24px; */
}

.todo-item {
  cursor: pointer;
}
/* 
.input {
  height: 24px;
} */

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
  }
  .input, .btn {
    font-size: 1rem;
  }
}
